{% extends 'base.html' %}
{% block title %}Home - {{ params.name }}{% endblock %}

{% block content %}

<h2 class="section-title mb-4 text-center">Latest Courses</h2>

<div class="row g-4 justify-content-center">
    {% for course in courses[:6] %}
        <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center">
            <a href="{{ url_for('courses.view_course', course_id=course.course_id) }}" class="course-link">
                <div class="course-card">
                    <img src="{{ course.course_image }}" class="course-img" alt="{{ course.course_title }}">
                    <div class="course-body">
                        <h5 class="course-title">{{ course.course_title }}</h5>
                        <p class="course-desc">{{ course.course_description[:45] }}.....</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}
